div {
    display: inline-block;
    margin-top: 15px;
    overflow: hidden;
}

body {
    text-align: center;
    background-color: #ffffcc;
    text-transform: uppercase;
    font-weight: 900;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

.card1 {
    margin-right: 125px;
    margin-left: 125px;
    background: linear-gradient(90deg, rgb(2, 164, 157), rgb(4, 99, 225));
    border-radius: 10px;
    box-shadow: 5px 5px 15px #888888;
    color: white;
    text-align: justify;
}

.card2 {
    margin-right: 125px;
    margin-left: 125px;
    background: linear-gradient(90deg, rgb(248, 170, 24), rgb(243, 106, 31));
    border-radius: 10px;
    box-shadow: 5px 5px 15px #888888;
    color: white;
    text-align: justify;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

div {
    justify-content: center;
    font-family: 'Miriam Libre', sans-serif;
}

i {
    color: #ffffff;
}